input{
    border-color: red;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#error_1_id_archivo{
    display:block;
}

.inputfile + #etiqueta {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + #etiqueta {
    display: none;
}

.inputfile:focus + #etiqueta,
.inputfile.has-focus + #etiqueta {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + #etiqueta * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + #etiqueta svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

/*
background-color: #d3394c;
  style 1 */

.inputfile + #etiqueta {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile:focus + #etiqueta,
.inputfile.has-focus + #etiqueta,
.inputfile + #etiqueta:hover {
    background-color: #722040;
}


/* style 2 */
input{
    border-color: red;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#error_1_id_thumbnail{
    display:block;
}

.inputfile + #etiqueta2 {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + #etiqueta2 {
    display: none;
}

.inputfile:focus + #etiqueta2,
.inputfile.has-focus + #etiqueta2 {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + #etiqueta2 * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + #etiqueta2 svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

/*
background-color: #d3394c;
  style 1 */

.inputfile + #etiqueta2 {
    color: #f1e5e6;
    background-color: #396fd3;
}

.inputfile:focus + #etiqueta2,
.inputfile.has-focus + #etiqueta2,
.inputfile + #etiqueta2:hover {
    background-color: #131963;
}


.alert span[data-notify="icon"] {
    font-size: 30px;
    display: block;
    left: 15px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.alert[data-notify="container"] {
    padding: 10px 10px 10px 20px;
    border-radius: 4px;
}


/* style 2 */
