{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block scripts %}
<script src="/static/js/registro.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
{% endblock scripts %} {% block titulo %}Registro{% endblock %} {% block contenido %}
<div class="container">
    <div class="card card-register mx-auto mt-18">
        <div class="card-header">Registrate en Tutub<i class="fa fa-fw fa-rebel" style="color:red"></i></div>
        <div class="card-body">
            <form action="" method="post" id="form" enctype="multipart/form-data">{% csrf_token %} {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-block" value="Submit">Registrarse</button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="/login/">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}